doctype html
html(ng-app="app")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/vendor/semantic/dist/semantic.min.css')
    body
        block content
        script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/vendor/angular/angular.min.js')
        script(type='text/javascript', src='/vendor/semantic/dist/semantic.min.js')
        script(type='text/javascript', src='/javascripts/app.js')